<!doctype html>
<title>exercice1</title>
<h1>Bienvue dans votre exercice 1 !</h1>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texte avec différentes tailles</title>
</head>
<body>
    <p>
        <span style="font-size: 40px;">Titre de niveau 1.</span><br>
        <span style="font-size: 30px;">Titre de niveau 2.</span><br>
        <span style="font-size: 20px;">Titre de niveau 3.</span><br>
        <span style="font-size: 20px;">Titre de niveau 3.</span><br>
        <span style="font-size: 30px;">Titre de niveau 2.</span><br>
        <span style="font-size: 40px;">Titre de niveau 1.</span><br>
    </p>
</head>
<body>
    <p>
        Texte en <b>gras</b>, texte en <i>italique</i>, texte <u>souligné</u>.
    </p>
</body>
</html>

<p>lien vers <a href="https://www.example.com" target="_blank"> l'actualité</a>.</p>
<p>Ecrivez moi à <a href="mailto:spastore2@free.fr">spastore2@free.fr</a>.</p>


<html>
  <body>
    <ol>
      <li> item 1</li>
      <li> item 2 :
        element 1
        element 2</li>
      <li> item 3</li>
    </ol>
  </body>
</html>
