<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maison en HTML</title>
</head>
<body>
    <div>
        <!-- Toit de la maison -->
        <table border="0" align="center">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td bgcolor="red" width="100" height="50"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td bgcolor="red" width="50" height="50"></td>
                <td>&nbsp;</td>
                <td bgcolor="red" width="50" height="50"></td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <!-- Corps de la maison -->
        <table border="1" align="center">
            <tr>
                <td bgcolor="white" width="100" height="100">Fenêtre</td>
                <td bgcolor="yellow" width="100" height="100">Mur</td>
                <td bgcolor="white" width="100" height="100">Fenêtre</td>
            </tr>
            <tr>
                <td bgcolor="yellow" width="100" height="100">Mur</td>
                <td bgcolor="orange" width="100" height="100">Porte</td>
                <td bgcolor="yellow" width="100" height="100">Mur</td>
            </tr>
        </table>
    </div>
</body>
</html>
